@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  outline: none;
}

.header {
  width: 100%;
  text-align: center;
  background-color: #00aa4b;
}

.container {
  max-width: 1550px;
  margin: 0 auto;
}

.header__chapters {
  min-height: 48px;
  font: 400 16px/48px "Myriad Pro";
}

.header__chapters_placementOfItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__chapters_placementOfItems a {
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  padding: 0 0.5%;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  width: auto;
}

.header__chapters_placementOfItems a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.chapter__marker {
  vertical-align: middle;
  padding-right: 5px;
}

.chapter_copyEmail {
  position: relative;
}

.copyEmailButton {
  width: 100%;
  height: 45px;
  line-height: 45px;
  -webkit-box-shadow: 4px 6px 24px rgba(0, 0, 0, 0.49);
          box-shadow: 4px 6px 24px rgba(0, 0, 0, 0.49);
  border-radius: 23px;
  color: #ffffff;
  background-color: #232323;
  border: none;
  display: block;
  position: absolute;
  top: 50px;
  cursor: pointer;
}

.header__division {
  width: 1px;
  height: 28px;
  border: 1px solid #ffffff;
  background-color: #d5bee7;
  opacity: 0.25;
  margin: auto;
}

.grayBackground {
  width: 100%;
  background-color: #e8e7e7;
}

.grayBackground_main {
  padding-top: 21px;
}

.sectionWithSearchString {
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sectionWithSearchString__linkToMainPage {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.linkToMainPage__headline {
  font: 400 33px "Myriad Pro";
  color: #171717;
  margin-left: 8px;
}

.formSearchString {
  height: 35px;
  width: 57%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.formSearchString__category {
  font: 400 16px/35px "Myriad Pro";
  color: #777777;
  background-color: #f1f1f1;
  padding-left: 17px;
  padding-right: 8px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

/* Убираем стандартный маркер Chrome */
.formSearchString__category_marker_change summary::-webkit-details-marker {
  display: none;
}

/* Убираем стандартный маркер Firefox */
.formSearchString__category_marker_change > summary {
  list-style: none;
}

/* Добавляем собственный маркер */
.formSearchString__category_marker_change summary::after {
  content: url(images/section-with-search-string/arrow-down.svg);
  margin-left: 6px;
}

.formSearchString__input {
  width: 100%;
  border: none;
}

.formSearchString__button {
  height: 35px;
  min-width: 49px;
  font-size: 23px;
  border: none;
  background-color: #ffaf2d;
  color: #ffffff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.supplierPortal {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.supplierPortal__text {
  width: 95px;
  font: 400 14px/16px "Myriad Pro - Light Semi Ext";
  text-align: start;
  color: #777777;
  padding-left: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.linkToCart {
  text-decoration: none;
  width: 157px;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.linkToCart:hover {
  background-color: #ffaf2d;
  color: #ffffff;
  -webkit-filter: invert(0);
          filter: invert(0);
}

.linkToCart__blockWithImageCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blockWithImageCart__quantity {
  font: 400 14px/10px "Myriad Pro";
  color: #ff8c00;
}

.blockWithImageCart__image {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.linkToCart__text {
  padding-left: 12px;
  margin: auto 0;
}

.text__amount {
  font: 300 14px/16px "Myriad Pro - Light Semi Ext";
  color: #777777;
}

.text__price {
  font-family: "Myriad Pro - Regular";
  line-height: 18px;
  font-size: 14px;
}

.linkToCart:hover {
  background-color: #ffaf2d;
  cursor: pointer;
}

.linkToCart:hover .blockWithImageCart__quantity {
  color: #ffffff;
}

.linkToCart:hover .blockWithImageCart__image {
  -webkit-filter: invert(0);
          filter: invert(0);
}

.linkToCart:hover .text__amount {
  color: #ffffff;
}

.catalog {
  -webkit-box-shadow: 4px 6px 18px rgba(0, 0, 0, 0.11);
          box-shadow: 4px 6px 18px rgba(0, 0, 0, 0.11);
  background-color: #ffffff;
  padding: 9px 0 11px;
}

.catalog__items {
  font: 400 16px "Myriad Pro";
  color: #343434;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.catalog__items div {
  padding: 0 1%;
}

.catalog__items div:hover {
  cursor: pointer;
}

.container_margin {
  margin: 20px 0px;
}

.categoriesSliderSale {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.productСategories {
  width: 303px;
  height: 476px;
  background-color: #e8e7e7;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.productСategories:hover {
  background-color: #ffffff;
}

.productСategories__header {
  width: inherit;
  font: 400 24px "Myriad Pro";
  color: #ffaf2d;
  padding: 33px 0px 12px 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.productСategories__products {
  width: inherit;
  font: 400 16px/44px "Myriad Pro - Light Semi Ext";
  color: #303030;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.productСategories__products li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(186, 186, 186, 0.25);
  padding: 0px 21px 0px 28px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.productСategories__products span {
  font: 400 14px/44px "Myriad Pro - Light Semi Ext";
  color: rgba(48, 48, 48, 0.4);
}

.productСategories__products li:hover {
  cursor: pointer;
  color: #ffaf2d;
}

.swiper {
  width: 67%;
  margin: 0px 1% !important;
  height: inherit;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background-color: #232323;
}

.swiper-slide img {
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination-bullet {
  opacity: 1 !important;
  border: 2px solid #ffffff;
  width: 8px;
  height: 8px;
}

:root {
  --swiper-theme-color: #ffffff !important;
}

.swiper-pagination-horizontal {
  bottom: 33px !important;
}

.swiper__slide_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 59px 9.1% 49px 7.55%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slide_1__wrap {
  text-align: left;
  height: inherit;
  font: 400 16px/20px "Myriad Pro - Light Semi Ext";
  color: #777777;
}

.slide_1__wrapForHeading {
  min-height: 113px;
  width: 425px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 68px;
}

.slide_1__heading {
  font: 400 39px/40px "Myriad Pro";
  color: #fff;
}

.slide_1__textAboutEquipment {
  font: 300 18px/13px "Myriad Pro - Light Semi Ext";
  color: #f3f1f1;
}

.slide_1__link {
  text-decoration: none;
  display: block;
  margin: 66px 0;
}

.slide_1__button {
  height: 35px;
  width: 129px;
  text-align: center;
  font: 400 18px/35px "Myriad Pro";
  color: #ffffff;
  border-radius: 18px;
  background-color: #ffaf2d;
  border: none;
}

.slide_1__button:hover {
  cursor: pointer;
}

.saleLink {
  text-decoration: none;
  height: 476px;
  width: 15.5%;
  display: inline-table;
}

.saleLink:hover .sale {
  border-color: #ffaf2d;
}

.sale {
  height: 476px;
  width: 300px;
  text-align: left;
  background-color: #ffffff;
  border-radius: 2px;
  border: 2px solid rgba(48, 48, 48, 0.4);
  padding: 0px 0px 52px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.sale__image {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 18px;
}

.sale__text {
  font: 400 18px/20px "Myriad Pro - Light Semi Ext";
  color: #121212;
}

.sale__heading {
  font: 400 40px/40px "Myriad Pro";
  color: #121212;
  margin-bottom: 17px;
}

.sale__catalog {
  font: 300 18px/24px "Myriad Pro - Light Semi Ext";
  color: #ffaf2d;
  position: relative;
}

.sale__catalog::after {
  content: " >";
  display: block;
  position: absolute;
  top: 2px;
  left: 160px;
}
/*# sourceMappingURL=styles.css.map */