.wrap_recommendationsSection {
  margin-top: 172px;
  width: 100%;
  padding: 0 4.3%;
}

.recommendations {
  font: 400 40px / normal "Myriad Pro - Regular";
  color: #121212;
  text-align: center;
}

.recommendations__head {
  font-size: 1em;
}

.recommendations__text {
  font: 400 0.4em "Myriad Pro - Light Semi Ext";
  color: #787878;
  width: 658px;
  margin: 30px auto 68px;
}

.recommendations__innerWrap {
  width: 100%;
  height: 745px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 56.3% 42.4%;
  -ms-grid-columns: 42.6% 56.4%;
      grid-template: 56.3% 42.4% /42.6% 56.4%;
  row-gap: 1%;
  -webkit-column-gap: 0.7%;
          column-gap: 0.7%;
}

.recommendations__link {
  display: block;
  width: 100%;
  height: 100%;
}

.textContent__brand {
  font: 400 0.5em "Myriad Pro - Light Semi Ext";
  color: #121212;
  text-transform: uppercase;
}

.textContent__title {
  font-size: 0.75em;
  color: #121212;
}

.textContent__text {
  font-size: 0.4em;
  font-family: "Myriad Pro - Light Semi Ext";
  color: #777777;
  margin-top: 27px;
}

.wrap_leftblock {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/3/2;
}

.recommendations__link_leftBlockPadding {
  padding: 32px 12.5% 0;
}

.recommendations__leftBlock {
  width: 100%;
  height: 100%;
  background-image: url("../../images/recommendations/rational.png");
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.leftBlock__textContent {
  margin: 0 auto;
  max-width: 284px;
}

.wrap_rightTopBlock {
  background-color: #232323;
  width: 100%;
  height: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/2/3;
}

.recommendations__rightTopBlock {
  width: 100%;
  height: 100%;
  background-image: url("../../images/recommendations/Abat.png");
  background-position: left center;
  background-size: initial;
  background-repeat: no-repeat;
  padding-left: 35%;
  padding-top: 85px;
}

.rightTopBlock__textContent {
  text-align: left;
  max-width: 394px;
}

.textContent__title_whiteColor,
.textContent__brand_whiteColor {
  color: #ffffff;
  width: 200px;
}

.wrap_rightBottomBlock {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
}

.recommendations__rightBottomBlock {
  width: 100%;
  height: 100%;
  background-image: url("../../images/recommendations/hicold.png");
  background-position: right center;
  background-size: initial;
  background-repeat: no-repeat;
  padding-left: 8%;
  padding-top: 73px;
}

.rightBottomBlock__textContent {
  text-align: left;
  max-width: 382px;
}

@media screen and (max-width: 1250px) {
  .recommendations {
    font-size: 34px;
  }
}

@media screen and (max-width: 1040px) {
  .recommendations {
    font-size: 28px;
  }
}

@media screen and (max-width: 850px) {
  .recommendations {
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  .wrap_recommendationsSection {
    margin-top: 151px;
    padding: 0;
  }
  .recommendations {
    font-size: 50px;
  }
  .recommendations__text {
    width: 100%;
    font-size: 0.32em;
    margin: 20px auto 76px;
  }
  .recommendations__innerWrap {
    height: initial;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (483px)[3];
        grid-template-rows: repeat(3, 483px);
    row-gap: 10px;
    -webkit-column-gap: 0px;
            column-gap: 0px;
  }
  .textContent__brand {
    font-size: 0.6em;
  }
  .textContent__title {
    font-size: 0.8em;
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .textContent__text {
    font-size: 0.5em;
  }
  .wrap_leftblock {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/2/2;
  }
  .recommendations__link_leftBlockPadding {
    padding: 25px 0 0 10%;
  }
  .recommendations__leftBlock {
    background-position: right bottom;
    background-size: 37.5% 100%;
  }
  .leftBlock__textContent {
    max-width: 55%;
    text-align: left;
    margin: 0;
    padding-top: 93px;
  }
  .wrap_rightTopBlock {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/1/3/2;
  }
  .recommendations__rightTopBlock {
    padding: 50px 10% 0 35%;
  }
  .rightTopBlock__textContent {
    max-width: 380px;
  }
  .wrap_rightBottomBlock {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3/1/4/2;
  }
  .recommendations__rightBottomBlock {
    background-image: url("../../images/recommendations/hicold-mobile.png");
    background-size: 30% 370px;
    padding-left: 8%;
    padding-top: 73px;
  }
}

@media screen and (max-width: 650px) {
  .recommendations {
    font-size: 40px;
  }
}
/*# sourceMappingURL=recomendations.css.map */