.header {
  width: 100%;
  text-align: center;
  background-color: #00aa4b;
}

.header__chapters {
  display: flex;
  justify-content: space-between;
  height: 48px;
  // font-w font-s/line-h font-fam font-style
  font: 400 16px/48px "Myriad Pro - Regular";
}

.header__chapters a,
.chapter_copyEmail,
.chapter_telephone {
  text-decoration: none;
  color: #ffffff;
  flex-grow: 1;
  transition: background-color 0.2s;
  padding: 0 0.5%;
}

.header__chapters a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.chapter_copyEmail:hover,
.chapter_telephone:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.chapter_telephone,
.chapter_copyEmail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chapter_telephone {
  position: relative;
}

.chapter__icon {
  vertical-align: middle;
  padding-right: 5px;
}

.chapter_copyEmail {
  position: relative;
}

.copyEmailButton {
  font: 400 16px/45px "Myriad Pro - Regular";
  width: 100%;
  height: 45px;
  box-shadow: 4px 6px 24px rgba(0, 0, 0, 0.49);
  border: none;
  border-radius: 23px;
  color: #ffffff;
  background-color: #232323;
  display: block;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  cursor: pointer;
}

.chapters__division {
  width: 1px;
  height: 28px;
  border: 1px solid #ffffff;
  background-color: #d5bee7;
  opacity: 0.25;
  margin: auto;
}

@media screen and (max-width: 1180px) {
  .header__chapters,
  .copyEmailButton {
    font-size: 14px;
  }
}

@media screen and (max-width: 1040px) {
  .header__chapters,
  .copyEmailButton {
    font-size: 12px;
  }
}

@media screen and (max-width: 900px) {
  .header__chapters,
  .copyEmailButton {
    font-size: 10px;
  }
}
