.container_padding {
  padding-top: 21px;
}

.sectionWithSlider {
  max-height: 476px;
  width: inherit;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.productСategories {
  width: 20%;
  height: inherit;
  background-color: #e8e7e7;
  transition: background-color 0.2s ease-in-out;
}

.productСategories:hover {
  background-color: #ffffff;
}

.productСategories__heading {
  font: 400 24px "Myriad Pro - Regular";
  color: #ffaf2d;
  padding: 33px 0px 12px 28px;
}

.productСategories__products {
  font: 400 16px/44px "Myriad Pro - Light Semi Ext";
  color: #303030;
}

.productСategories__products li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(186, 186, 186, 0.25);
  padding: 0px 21px 0px 28px;
  transition: color 0.2s ease-in-out;
}

.productСategories__products span {
  font: 400 14px/44px "Myriad Pro - Light Semi Ext";
  color: rgba(48, 48, 48, 0.4);
}

.productСategories__products li:hover {
  cursor: pointer;
  color: #ffaf2d;
}

// Стили для слайдера
.swiper {
  width: 58%;
  margin: 0 2% !important;
}

.swiper_wrap {
  height: 100%;
  width: 100%;
  background-color: #232323;
}

.swiper-slide {
  text-align: center;
  font: 400 18px "Myriad Pro - Regular";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #232323;
}

.swiper__slide_1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 59px 9% 49px 7.5%;
}

.slide_1__wrap {
  height: inherit;
  width: 58%;
  text-align: left;
  font: 400 16px/20px "Myriad Pro - Light Semi Ext";
  color: #777777;
}

.slide_1__wrapForHeading {
  min-height: 113px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 68px;
  color: #f3f1f1;
}

.slide_1__heading {
  font: 400 40px/42px "Myriad Pro - Regular";
}

.swiper-pagination-bullet {
  opacity: 1 !important;
  border: 2px solid #ffffff;
  width: 8px;
  height: 8px;
}

:root {
  --swiper-theme-color: #ffffff !important;
}

.swiper-pagination-horizontal {
  bottom: 33px !important;
}

.slide_1__text {
  font: 300 18px/20px "Myriad Pro - Light Semi Ext";
}

.slide_1__link {
  text-decoration: none;
  display: block;
  margin: 65px 0;
}

.slide_1__button {
  height: 35px;
  width: 129px;
  text-align: center;
  font: 400 18px/35px "Myriad Pro - Regular";
  color: #ffffff;
  border-radius: 18px;
  background-color: #ffaf2d;
  border: none;
}

.slide_1__button:hover {
  cursor: pointer;
}

//сайдбар распродажа
.sidebar_sale_wrap {
  height: 100%;
  width: 15.5%;
  display: inline-table;
}

.sidebar_sale {
  height: 476px;
  width: 300px;
  font: 400 18px/20px "Myriad Pro - Regular";
  color: #121212;
  text-align: left;
  background-color: #ffffff;
  border-radius: 2px;
  border: 2px solid rgba(48, 48, 48, 0.4);
  padding: 0px 0px 52px 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.sidebar_sale:hover {
  border-color: #ffaf2d;
}

.sale__image {
  width: fit-content;
  margin-bottom: 18px;
}

.sale__heading {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.sale__link_catalog {
  text-decoration: none;
  width: fit-content;
}

.link_catalog__text {
  font-weight: 300;
  color: #ffaf2d;
}

.link_catalog__text::after {
  content: " >";
  display: block;
  float: right;
  margin-left: 10px;
}

@media screen and (max-width: 1410px) {
  .productСategories__heading {
    font-size: 20px;
    padding-left: 15px;
  }

  .productСategories__products {
    font-size: 14px;
  }

  .productСategories__products li {
    padding-left: 15px;
  }

  .sidebar_sale {
    padding: 0px 0px 52px 5%;
    width: 19vw;
    font-size: 14px;
  }

  .sale__heading {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1100px) {
  .productСategories__heading {
    font-size: 13px;
    padding-left: 5px;
  }

  .productСategories__products {
    font-size: 12px;
  }

  .productСategories__products li {
    padding-left: 5px;
    padding-right: 10px;
  }

  .slide_1__heading {
    font-size: 30px;
    line-height: 30px;
  }

  .slide_1__text {
    font-size: 14px;
    line-height: 14px;
    margin-top: 15px;
  }

  .slide_1__link {
    font-size: 14px;
    margin: 37px 0;
  }

  .slide_1__button {
    font-size: 14px;
  }
}

@media screen and (max-width: 940px) {
  .productСategories__heading {
    font-size: 13px;
    padding-left: 5px;
  }

  .productСategories__products {
    font-size: 10px;
  }

  .productСategories__products li {
    padding-left: 5px;
  }

  .swiper__slide_1 {
    padding-right: 2%;
    padding-left: 2%;
  }

  .slide_1__heading {
    font-size: 24px;
    line-height: 24px;
  }

  .slide_1__text {
    font-size: 12px;
    line-height: 12px;
    margin-top: 15px;
  }

  .slide_1__link {
    font-size: 12px;
    margin: 70px 0;
  }

  .slide_1__button {
    font-size: 12px;
  }

  .sidebar_sale {
    padding-left: 3%;
    font-size: 12px;
  }

  .sale__heading {
    font-size: 24px;
    line-height: 20px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .sectionWithSlider {
    width: 100vw;
    display: flex;
    flex-direction: column;
    max-height: initial;
  }
}
