.upperMenu {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upperMenu__link_logo {
  text-decoration: none;
  height: 100%;
}

.link_logo__figure {
  display: flex;
  align-items: center;
  height: inherit;
}

.link_logo__brand {
  font: 400 33px "Myriad Pro - Regular";
  color: #171717;
  margin-left: 6px;
}

// поиск
.search_wrap {
  margin: 0 3% 0 5%;
  width: 57%;
}

.search__form {
  height: 35px;
  width: 100%;
  display: flex;
}

.form__input {
  font: 400 14px/16px "Myriad Pro - Regular";
  color: #222222;
  width: 100%;
  border: none;
  padding-left: 1%;
}

.form__button {
  min-width: 49px;
  font-size: 23px;
  border: none;
  background-color: #ffaf2d;
  color: #ffffff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.form__button:hover {
  cursor: pointer;
}

//поставщики
.upperMenu__supplierPortal {
  text-decoration: none;
  height: 100%;
  width: 11.2%;
  min-width: 150px;
  padding: 0 0.5%;
}

.supplierPortal__figure {
  height: inherit;
  font: 400 14px/16px "Myriad Pro - Light Semi Ext";
  color: #777777;
  display: flex;
  align-items: center;
  width: 100%;
}

.supplierPortal__text {
  padding-left: 5px;
}

// корзина
.upperMenu__cart {
  text-decoration: none;
  width: 11.2%;
  min-width: 150px;
  height: inherit;
  display: flex;
  justify-content: center;
  transition: background-color 0.2s;
  padding: 0 0.5%;
}

.linkToCart:hover {
  background-color: #ffaf2d;
  color: #ffffff;
  filter: invert(0);
}

.cart__wrap_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart__quantity {
  font: 400 14px/10px "Myriad Pro - Regular";
  color: #ff8c00;
}

.cart__image {
  filter: invert(1);
}

.cart__wrap_text {
  padding-left: 12px;
  margin: auto 0;
}

.text__amount {
  font: 300 14px/16px "Myriad Pro - Regular";
  color: #777777;
}

.text__price {
  font-family: "Myriad Pro - Regular";
  line-height: 18px;
  font-size: 14px;
}

.upperMenu__cart:hover {
  background-color: #ffaf2d;
  cursor: pointer;

  .cart__quantity,
  .text__amount,
  .text__price {
    color: #ffffff;
  }

  .cart__image {
    filter: invert(0);
  }
}

@media screen and (max-width: 1040px) {
  .link_logo__brand {
    font-size: 25px;
  }

  .search_wrap {
    margin: 0 2% 0 3%;
  }

  .form__category {
    font-size: 14px;
  }

  .upperMenu__supplierPortal,
  .upperMenu__cart {
    min-width: 135px;
  }

  .supplierPortal__text,
  .text__amount,
  .text__price {
    font-size: 12px;
  }
}
